<div class="background-about">
	<div class="page-header">

		<div class="header-logo text-center">
			<%= image_tag('logo/ry-name-db.png', class: 'page-header-logo') %>
		</div>
		<div class="text-center" style="font-weight:200;">
			How It All Started
		</div>
	</div>	

	<div class="about-container ">		
		<div class="page-header-dark">			
			<h3>
				Resort Yoga is the product of Isabella Jones 30-plus years of teaching people how to feel better. Her classes and clinics include pro athletes, seniors, children and hard working parents from every walk of life. 
			</h3>
			<h3>
				Isabella believes that the most beneficial and transformative power of her training  is  about her  students learning to relax and manage stress.
			</h3>
			<hr style="border-color:black;width:90%;">
			<h3 class="ry-quote">
				"It is not the stress in our day that affects us-it is how we respond to stress that makes the difference. Wrapping your leg around your body and bending like a pretzel will not save your life… learning how to relax and manage your stress will. I decided to call this unique style of relaxing movement and breathing <strong>Resort Yoga<span style="font-size:1.9vh;;"><sup>TM</sup></span></strong> because we all carry the ability to transport ourselves away to a place inside us of peace and contentment – a feeling typically associated with a vacation or resort experience.  This technique can be learned and strengthened through practice and accessed in times of need. Being able to lean towards calm, to back away from conflict, to travel towards joy…that is the experience of <strong>Resort Yoga<span style="font-size:1.9vh;;"><sup>TM</sup></span></strong>.  I have seen, through the years, that our culture is changing yoga into something that is increasingly competitive, ego driven and potentially unhealthy. <strong>Resort Yoga<span style="font-size:1.9vh;;"><sup>TM</sup></span></strong> helps to heighten the experience of inner awareness and calm."
			</h3>
			<hr style="border-color:rgba(  0, 115, 255, 1);width:50%;">
		</div>
		<div class="learn-more text-center">
			<%= link_to 'View Products', products_all_path, class: 'btn btn-lg btn-warning' %>
			<%= link_to 'About Isabella', isabella_path, class: 'btn btn-lg btn-primary' %>
		</div>
	</div>
</div>