<div class="background-about">	
	<div class="home-container text-center">
		<div class="page-header text-center">
		<%= image_tag('logo/ry-name-wh.png', class: 'page-header-logo') %>
		<div>What is it?</div>
		</div>
	</div>
</div>