<div class="background-about">	
	<div class="home-container text-center">
		<div class="page-header text-center">
			About Page Placeholder
			<!-- <div><%= request.fullpath %></div> -->
		</div>
	</div>
</div>