<div class="home-container text-center">
	<!-- <div class="welcome-message text-center">
		Resort Yoga
	</div> -->
	<div class="welcome-logo text-center">
		<%= image_tag('ry-logo-new-wh.png', class: 'logo-home') %>
	</div>
	<div class="quote-container">
		<div class="welcome-quote text-left">
			In seconds you can reverse stress with my yoga training and start living your life with better health and enjoyment!
			<div class="text-right">~ Isabella Jones</div>
		</div>
		<div class="learn-more text-center">
			<%= link_to 'Learn More', about_path, class: 'btn btn-lg btn-brand' %>
		</div>
	</div>
	

</div>