<div class="background-about">
	<div class="page-header">

		<div class="header-logo text-center">
			<%= image_tag('logo/ry-name-db.png', class: 'page-header-logo') %>
		</div>
		<div class="text-center" style="font-weight:200;">
			About Me
		</div>
	</div>	

	<div class="about-container ">		
		<div class="page-header-dark">			
			<h3>
				Isabella is a professional trainer/educator and an <strong>E-RYT 500 Certified Yoga Alliance</strong> Instructor. She has been training and teaching in the fitness/wellness industry for over 30 years. Isabella is also a mother, a daughter and a business woman.  Being fit and managing the important issues of life are what keep her energized and smiling!
			</h3>
			<h3>
				Among her thousands of students and clients are elite athletes, seniors, children, teens, and working weekend-warriors.  Isabella’s passion is helping everyone experience feeling better through fitness.
			</h3>
			<h3>
				Isabella teaches everyone how to incorporate simple and enjoyable techniques into their lives on a daily basis. Less is more, more often!
			</h3>
			<h3>
				Isabella’s unique style of yoga instruction reflects her philosophy of what fitness should be.  Yoga should be a practice that helps you let go.  Our culture has reinterpreted yoga and made it just another work out.
			</h3>
			<hr style="border-color:rgba(  0, 115, 255, 1);width:50%;">
		</div>
		<div class="learn-more text-center">
			<%= link_to 'View Products', about_path, class: 'btn btn-lg btn-warning' %>
			<%= link_to 'About Resort Yoga', about_path, class: 'btn btn-lg btn-primary' %>
		</div>
	</div>
</div>