<div class="background-posts">
	<div class="row contact-form">
	  <div class="col-md-8 col-md-offset-2">
			<div class="text-center">
				<h1>New Post</h1>
			</div>
			
			<%= render 'form', post: @post %>

		</div>
	</div>
</div>