.background-about {
	background: url('background/beach-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	padding-top: 1%;
}
.about-container {
	background-color: rgba(255,255,255, .4);
	margin: 2% 10%;
	height: 100%;
	border: 1px solid transparent;
	border-radius: 10px;
	padding-top: 3%;
	padding-bottom: 5%;
}
.about-body {
	line-height: 1.66;
	text-indent: 3%;
	margin: 2% auto;
}
/* Add a frame effect for profile pic */
.about-card {
  background-color: transparent;
  padding: 0% 3%;
  margin: 0% auto;
  width: 30%;
}
.about-img {
  width: 100%;
  margin: 0 auto;
}	
.about-quote {
	margin-left: 10%;
	font-style: oblique;
	color: rgba(120, 120, 120, 1);
	line-height: 1.66;
}
.profile-hr {
	border-top: 1px solid black;
	margin-top: 0px;
}




/*-----------MEDIA QUERIES----------*/




/********************************************************/
/* Extra large devices (large laptops and desktops, 1300px and below) */
/********************************************************/
@media only screen and (max-width: 1300px) {

}
/********************************************************/
/* Large devices (laptops/desktops, 1100px and below) */
/********************************************************/
@media only screen and (max-width: 1100px) {


}
/********************************************************/
/* Medium devices (landscape tablets, 800px and below) */
/********************************************************/
@media only screen and (max-width: 800px) {


}
/********************************************************/
/* Medium devices (landscape tablets, iPhone Plus, 740px and below) */
/********************************************************/
@media only screen and (max-width: 740px) {


}
/********************************************************/
/* Small devices (portrait tablets and large phones, 680px and below) */
/********************************************************/
@media only screen and (max-width: 680px) {


}
/********************************************************/
/* Extra small devices landscape(phones, 580px and below) */
/********************************************************/
@media only screen and (max-width: 580px) {


}
/********************************************************/
/* Extra small devices portrait(phones, 450px and below) */
/********************************************************/
@media only screen and (max-width: 450px) {

}
/********************************************************/
/* Extra small devices portrait(phones, 380px and below) */
/********************************************************/
@media only screen and (max-width: 380px) {


}
/********************************************************/
/* Extra small devices portrait(phones, 340px and below) */
/********************************************************/
@media only screen and (max-width: 340px) {


}


