// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/********************************************************/
/*DEFAULT STYLES*/
/********************************************************/
.background-home {
	background: url('background/ocean.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding-top: 1%
}
.header-logo {
	width: 40%;
	margin: auto;
	padding: 2%;
	background-color: rgba(255,255,255, .5);
	border-radius: 10px;
}
.page-header-logo {
	width: 50%;
	margin-top: 1%;
}


.page-header {
	border-radius: 10px;
	border-color: transparent;
	font-size: 24px;
	color: white;
	margin: 0% 10% 0% 10%;
	padding: 0% 0% 0% 0%;
}
.page-header-dark {
	background-color: rgba(255,255,255,0);
	border-radius: 10px;
	margin: 0% 10% 0% 10%;
	padding: 0% 0% 0% 0%;
}
.page-header-dark h3 {
	line-height: 1.66;
	margin: 1% auto;
	font-size: 24px;
	color: black;
}
.page-header-dark > h3.ry-quote {
	font-size: 20px;
	font-style: oblique;
	padding: 1% 7%;
	color: rgba(120, 120, 120, 1);
}

.quote-container {
	background-color: rgba(255,255,255,0);
	border-radius: 15px;
	margin: 0% 15% 0% 15%;
}
.welcome-logo {
	width: 35%;
	margin: auto;
	padding: 2%;
	background-color: rgba(255,255,255, .5);
	border-radius: 10px;
}
.logo-home {
	width: 80%;
}
.welcome-quote {
	font-size: 24px;
	font-style: italic;
	color: #fff;
	margin: 2% 5% 2% 5%;
	padding-top: 3%;
}
#isabella {
  background: url('isabella.png') no-repeat bottom right;
  width: 260px;
  height: 233px;
  float: right;
  padding-top: 8px;
}
#quote {
	font-size: 20px;
	font-style: oblique;
	color: #fff;
  float: left;
  width: 70%;
  padding-top: 5%;
  text-align: left
}
#quotebar {
	margin-top: 7%;
  width: 100%;
  background: url('background/quote-background.jpg') repeat-x;
}
#quotebar-inner {
  width: 80%;
  height: 250px;
  margin: 0px auto;
}




/*-----------MEDIA QUERIES----------*/




/********************************************************/
/* Extra large devices (large laptops and desktops, 1300px and below) */
/********************************************************/
@media only screen and (max-width: 1300px) {

}
/********************************************************/
/* Large devices (laptops/desktops, 1100px and below) */
/********************************************************/
@media only screen and (max-width: 1100px) {


}
/********************************************************/
/* Medium devices (landscape tablets, 800px and below) */
/********************************************************/
@media only screen and (max-width: 800px) {


}
/********************************************************/
/* Medium devices (landscape tablets, iPhone Plus, 740px and below) */
/********************************************************/
@media only screen and (max-width: 740px) {


}
/********************************************************/
/* Small devices (portrait tablets and large phones, 680px and below) */
/********************************************************/
@media only screen and (max-width: 680px) {


}
/********************************************************/
/* Extra small devices landscape(phones, 580px and below) */
/********************************************************/
@media only screen and (max-width: 580px) {


}
/********************************************************/
/* Extra small devices portrait(phones, 450px and below) */
/********************************************************/
@media only screen and (max-width: 450px) {

}
/********************************************************/
/* Extra small devices portrait(phones, 380px and below) */
/********************************************************/
@media only screen and (max-width: 380px) {


}
/********************************************************/
/* Extra small devices portrait(phones, 340px and below) */
/********************************************************/
@media only screen and (max-width: 340px) {


}