<div class="background-product">
	<div class="page-header">

<div class="page-header text-center">
    <%= image_tag('logo/ry-name-wh.png', class: 'page-header-logo') %>
    <div style="color">Betti Pot</div>
  </div>
	</div>	

	<div class="about-container ">		
		<div class="page-header-dark">			
			<h3>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione sunt enim, deserunt reprehenderit dignissimos vero asperiores a itaque, alias labore iure dolorem, praesentium! Excepturi dicta cumque, consequuntur non accusamus sequi.
			</h3>
			<h3>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, illum blanditiis molestiae voluptas quo, ut minima velit esse saepe officia illo quos voluptatum consequuntur temporibus maiores cumque corrupti eveniet, nam!
			</h3>
			<hr style="border-color:black;width:90%;">
			<h3>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus molestias eum eaque dolorum molestiae maiores fuga rem, cum eligendi laudantium quo adipisci, doloremque reprehenderit ullam nostrum? Tenetur reprehenderit ipsum minus.
			</h3>
			<hr style="border-color:rgba(  0, 115, 255, 1);width:50%;">
		</div>
		<div class="learn-more text-center">
			<%= link_to 'Place Order', products_all_path, class: 'btn btn-lg btn-primary' %>
			<%= link_to 'Back to Products', products_all_path, class: 'btn btn-lg btn-brand-btn' %>
		</div>
	</div>
</div>