<main class="product-container">
 
  <!-- Left Column / Headphones Image -->
  <div class="product-left-column">
		<div class="product-card">
	    <img data-image="black" class="product-img" src="http://www.bettipot.net/assets/images/gallery/ebonyblack.jpg" alt="">
	    <img data-image="articice" class="product-img" src="http://www.bettipot.net/assets/images/gallery/arcticice.jpg" alt="">
	    <img data-image="coral" class="product-img active" src="http://www.bettipot.net/assets/images/gallery/coral.jpg" alt="">
	  </div>
  </div>

 
  <!-- Right Column -->
  <div class="product-right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>Health Products</span>
      <h1>Betti Pot</h1>
      <p>Betti Pot™ is the better neti because it is the premium neti made in the U.S.A. from sustainable, non-toxic materials such as high-fired porcelain and food-grade ceramic glaze. </p>
    </div>
 
    <!-- Product Configuration -->
    <div class="product-configuration">
 
      <!-- Product Color -->
      <div class="product-color">
        <span>Color</span>
 
        <div class="color-choose">
          <div>
            <input data-image="coral" type="radio" id="coral" name="color" value="coral" checked>
            <label for="coral"><span></span></label>
          </div>
          <div>
            <input data-image="articice" type="radio" id="articice" name="color" value="articice">
            <label for="articice"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>
      </div>

    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span>$49.99</span>
      <a href="#" class="cart-btn">Buy Now</a>
    </div>
  </div>
</main>
<script>

$(document).ready(function() {
 
  $('.color-choose input').on('click', function() {
      var headphonesColor = $(this).attr('data-image');
 
      $('.active').removeClass('active');
      $('.product-left-column img[data-image = ' + headphonesColor + ']').addClass('active');

      $(this).addClass('active');
  });

});

</script> 



